<!DOCTYPE html>
<html>
<head>

    <title>10ft</title>

    <link rel="stylesheet" href="/stylesheets/normalize.css">
    <link rel="stylesheet" href="/stylesheets/common.css">

    <script src="/javascripts/common.js"></script>

</head>
<body>

    <%- body %>

</body>
</html>
